@import "../../_variables.scss";

#left-navbar {
  background: #111111;
  height: 100vh;
  width: 300px;
  flex-shrink: 0;
  $gap: 50px;
  padding: $gap 15px $gap;
  gap: $gap;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  position: relative;

  &:hover {
    .title > .logo {
      outline: 3px solid #cecece;
    }
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0px;

    .logo {
      $dimension: 200px;
      width: $dimension;
      height: $dimension;
      border: 4px solid transparent;
      outline: 3px solid #fff3;
      overflow: hidden;
      border-radius: 50%;
      transition: all $transition-duration;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all $transition-duration;

        &:hover {
          transform: scale(2);
        }
      }
    }

    .details {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      padding: 0px;

      .name {
        font-family: "poppins-extra-bold";
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
      }

      .location {
        display: flex;
        gap: 10px;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    // width: calc(100% - 100px);
    width: 100%;
    gap: 20px;

    a {
      padding: 15px 20px;
      border:1px solid transparent;
      border-left: 4px solid transparent;
      transition: all $transition-duration;
      border-radius: 5px;
      cursor: pointer;
      width: calc(100% - 50px);
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
      padding-left: 30px;

      &:hover {
        background: #333;
        border-left: 4px solid #eee;
      }

      &:active {
        background: #3a3a3a;
      border:1px solid #999;
      border-left: 4px solid #fff;
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #333;
    border-radius: 20px;
    text-align: center;
    $x: 50px;
    width: $x;
    height: $x;
    display: none;
    transition: background 0.1s;
    cursor: pointer;

    &:hover {
      background: #454545;
    }
  }
}

@media screen and (max-width: 1200px) {
  #left-navbar {
    & > .title {
      margin:0 auto;
      // width: 100%;
      flex-direction: row;
      justify-content: left;
      padding: 20px;

      & > .logo {
        $dimension: 140px;

        width: $dimension;
        height: $dimension;
      }
    }
  }
}
