$transition-duration: 0.5s;
$linear-gradient-box: linear-gradient(325deg, #080808, #2c2c2c);
$linear-gradient-bg: linear-gradient(325deg, #151515, #181717);

// $linear-gradient-1: linear-gradient(325deg, black, white);
