* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

@font-face {
  font-family: "poppins";
  src: url(/src/static/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins-bold";
  src: url(/src/static/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "poppins-extra-bold";
  src: url(/src/static/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "poppins-bold-italic";
  src: url(/src/static/Poppins/Poppins-BoldItalic.ttf);
}

html {
  // scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  font-size: 18px;
}

p {
  line-height: 2.2;
  word-spacing: 2px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ---------------------------------------------------------------

$scroll-track-color:black;
$scroll-thumb-color:#222;
$scroll-thumb-hover-color:#333;

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: $scroll-track-color; /* Background of the scrollbar track */
  border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: $scroll-thumb-color; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners */
  border: 3px solid #646363; /* Adds padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: $scroll-thumb-hover-color;
}

// /* For Firefox (needs to target the entire document or specific elements) */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color:  $scroll-thumb-color $scroll-track-color; /* Thumb color and track color */
}

// ---------------------------------------------------------------
